<h2>New Mountain</h2>

<form action="/mountains" method="post">
  <label for="mountain[name]">Name:</label>
  <input name="mountain[name]">

  <label for="mountain[photo_url]">Photo URL:</label>
  <input name="mountain[photo_url]">

  <label for="mountain[height]">Height:</label>
  <input name="mountain[height]">

  <input type="submit" value="Create">
</form>
